name: Build and Publish Documentation

on:
  pull_request:
    types: [opened, closed, synchronize]
  workflow_dispatch:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  get-container-version:
    uses: ./.github/workflows/container-version.yml

  build-deploy:
    if: ${{ (github.event_name != 'pull_request' || (github.event.pull_request.head.repo.full_name == github.repository)) && github.event.action != 'closed' }}
    runs-on: ubuntu-latest
    needs: get-container-version
    container:
      image: acreyes/kamayan:${{ needs.get-container-version.outputs.version }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        lfs: 'true'

    - name: Set github reference as Slug environment variable
      working-directory: ${{ github.workspace }}
      run: |
        echo "Slug=$(echo "${{ github.head_ref }}" | sed "s/\//\-/g")" >> "$GITHUB_ENV"

    - name: If no github.head_ref, use last chunk of github.ref as Slug
      if: github.head_ref == ''
      working-directory: ${{ github.workspace }}
      run: |
        IFS="\/";
        read -a strarr <<< "${{ github.ref }}";
        last_ref="${strarr[${#strarr[*]}-1]}";
        echo "Slug=$(echo $last_ref)" >> "$GITHUB_ENV"

    - name: Document which reference
      working-directory: ${{ github.workspace }}
      run: echo "Running for reference ${{ env.Slug }}"

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Install the project
      working-directory: ${{ github.workspace }}
      run: uv sync --all-extras --dev

    - name: Set up Python
      id: python-setup
      working-directory: ${{ github.workspace }}
      run: uv python install

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=g++
        -DCMAKE_C_COMPILER=gcc
        -DCMAKE_BUILD_TYPE=Debug
        -DPARTHENON_DISABLE_HDF5=ON
        -DPARTHENON_DISABLE_MPI=ON
        -DPARTHENON_DISABLE_EXAMPLES=ON
        -DPARTHENON_ENABLE_TESTING=OFF
        -Dkamayan_BUILD_DOCS=ON
      working-directory: ${{github.workspace}}

    - name: Build
      working-directory: ${{github.workspace}}
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} -j4 --target docs

    - name: Configure Git user
      run: |
        cd ${{ github.workspace }}
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"

    - name: Build docs
      working-directory: ${{ github.workspace }}
      run: |
        git fetch origin gh-pages --depth=1
        uv run mike deploy --push ${{ env.Slug }}
        echo "Documentation available at: https://acreyes.github.io/kamayan/${{ env.Slug }}"

  comment:
    needs: build-deploy
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.merged == false && github.event.pull_request.head.repo.full_name == github.repository }}
    steps:
      - name: Set github reference as Slug environment variable
        run: |
          echo "Slug=$(echo "${{ github.head_ref }}" | sed "s/\//\-/g")" >> "$GITHUB_ENV"
      - uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.number }}
          comment-author: "github-actions[bot]"
          body-includes: "Documentation available at:"

      - uses: peter-evans/create-or-update-comment@v3
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.number }}
          body: "Documentation available at: [`https://acreyes.github.io/kamayan/${{ env.Slug }}`](https://acreyes.github.io/kamayan/${{ env.Slug }})"
          edit-mode: replace

  cleanup:
    if : ${{ github.event_name == 'pull_request' && github.event.action == 'closed' }}
    runs-on: ubuntu-latest
    needs: get-container-version
    container:
      image: acreyes/kamayan:${{ needs.get-container-version.outputs.version }}
    steps:
    - name: Set github reference as Slug environment variable
      working-directory: ${{ github.workspace }}
      run: |
        echo "Slug=$(echo "${{ github.head_ref }}" | sed "s/\//\-/g")" >> "$GITHUB_ENV"

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Install the project
      working-directory: ${{ github.workspace }}
      run: uv sync --all-extras --dev

    - name: Set up Python
      id: python-setup
      working-directory: ${{ github.workspace }}
      run: uv python install

    - name: Configure Git user
      working-directory: ${{ github.workspace }}
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"


    - name: remove pr docs
      working-directory: ${{ github.workspace }}
      run: |
        git remote set-branches origin '*'
        git fetch -v --depth=1
        uv run mike delete --push ${{ env.Slug }}

